@font-face {
	font-family: "Flaticon";
	src: url("icons/flaticon.eot");
	src: url("icons/flaticon.eot#iefix") format("embedded-opentype"),
	url("icons/flaticon.woff") format("woff"),
	url("icons/flaticon.ttf") format("truetype"),
	url("icons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 55px;
font-style: normal;
margin-left: 20px;
}.flaticon-drawing10:before {
	content: "\e000";
}
.flaticon-dslr:before {
	content: "\e001";
}
.flaticon-palette5:before {
	content: "\e002";
}
.flaticon-screen52:before {
	content: "\e003";
}
.flaticon-video71:before {
	content: "\e004";
}

#page {
	font-family:'Helvetica Neue';
}


#header {
	background-color:#ffffff;
	margin-top:90px;
}

#logo {
	text-align:center;
}

#mainmenu {
	margin-top:25px;
	margin-bottom:50px;
}

#slideshow {
	margin-bottom:50px;
}

#content {
	color:#726658;
	font-family:Raavi;
}

#content h1 {
	text-align:center;
}

#content p {
	text-align:justify;
}

#why-us {
	height:200px;
	font-family:Raavi;
	background: rgb(144,156,202); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(144,156,202,1) 0%, rgba(153,164,206,1) 47%, rgba(169,175,201,1) 67%, rgba(144,156,202,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(144,156,202,1)), color-stop(47%,rgba(153,164,206,1)), color-stop(67%,rgba(169,175,201,1)), color-stop(100%,rgba(144,156,202,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(144,156,202,1) 0%,rgba(153,164,206,1) 47%,rgba(169,175,201,1) 67%,rgba(144,156,202,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(144,156,202,1) 0%,rgba(153,164,206,1) 47%,rgba(169,175,201,1) 67%,rgba(144,156,202,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(144,156,202,1) 0%,rgba(153,164,206,1) 47%,rgba(169,175,201,1) 67%,rgba(144,156,202,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(144,156,202,1) 0%,rgba(153,164,206,1) 47%,rgba(169,175,201,1) 67%,rgba(144,156,202,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#909cca', endColorstr='#909cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#why-us .container {
	color:#f5f2eb;
	padding-top:60px;
}

#why-list {
	text-align:left;
}

#why-list ul {
	list-style-type: none;
}

#latest-project {
	padding-top:50px;
	background:#f5f2eb;
	padding-bottom:90px;
}

#latest-project h3 {
	text-align:center;
	border-bottom:solid 2px #bcb6ac;
	margin-bottom:10px;
}

#mainmenu ul {
	text-align:center;
	list-style-type: none;
	margin:0;
	padding:0;
	font-family:Raavi;
	font-size:15px;
}

#mainmenu li {
	display:inline;
	margin-left:20px;
}

#mainmenu a {
	color:#726658;
}

#copyright {
	text-align:center;
	font-family:Raavi;
	color:#ffffff;
}

#footer .row {
	background:#726658;
	padding-bottom:5px;
	font-family:Raavi;
}

#footer .container {
	padding-bottom:30px;
}

#footer h4 {
	font-family:Raavi;
	color:#dcaf47;
}

#drop-a-line {
	border-right:solid 2px #bcb6ac;
	border-left:solid 2px #bcb6ac;
}

#contact-form {
	text-align:center !important;
}

#content-footer a {
	color:#ffffff;
}

#contact {
	padding-top:40px;
	padding-left:40px;
}

#contact p {
	color:#f5f2eb;
	margin-top:10px;
	padding-left:23px;
}

#content-footer ul {
	list-style-type: none;
	margin:0;
	padding:0;
	font-family:Raavi;
	font-size:15px;
	color:#f5f2eb;
}

.submitButton {
	font-size:14px;
	background:#726658;
	border:none;
	color:#dcaf47;
	font-family:Raavi;
}

#contact ul {
	list-style-type: none;
	margin:0;
	padding:0;
	font-family:Raavi;
	font-size:15px;
}

#contact li {
	display:inline;
	margin-left:20px;
}

#top-button .row {
	text-align:center;
	background:#726658;
}

.top-button {
	-moz-transform: translateX(0px) translateY(-30px);
	-webkit-transform: translateX(0px) translateY(-30px);
	-o-transform: translateX(0px) translateY(-30px);
	-ms-transform: translateX(0px) translateY(-30px);
	transform: translateX(0px) translateY(-30px);
}

.project-item {
	display:block;
	float:left;
	padding-right:40px;
	padding-bottom:5px;
	cursor:pointer;
	height:370px;
	width:315px;
}

.category-carousel {
	text-align:center;
	border-bottom:dashed 1px #93897d;
}

.client-carousel {
	text-align:center;
}

.category-icon {
	text-align:center;
}

.category-icon a {
	color:#726658;
}

.category-icon a:hover {
	text-decoration:none;
	color:#000000;
}

.portofolio-index {
	text-align:center;
}

.portofolio-index h3 {
	text-align:center;
	border-bottom:solid 2px #bcb6ac;
	margin-bottom:10px;
}

.flash-success {
	color:#ffffff;
}

.portofolio-content .pagination {
	display:inline;
}